<div class="container">
  <h1>Login to CMS Factory</h1>
  <form>
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="userName" ng-model="User.password" ng-required="true" ng-focus="true">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="User.password" ng-required="true">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
</div>