<div class="container">
  <h1>Sign Up for CMS Factory</h1>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" ng-model="User.firstName" ng-required="true" ng-focus="true">
      
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" ng-model="User.lastName" ng-required="true" >
      
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="userName" ng-model="User.userName" ng-required="true" >
      
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" ng-model="User.email" ng-required="true" >

      <label for="userName">Password</label>
      <input type="text" class="form-control" id="password" ng-model="User.password" ng-required="true" >

      <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
  </form>
</div>