<div class="container">
  <h1>Sign Up for CMS Factory</h1>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstName" ng-required="true" ng-focus="true">
      
      <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name="lastName" ng-required="true" >
      
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" ng-required="true" >
      
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email"  ng-required="true" >

      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" ng-required="true" >

      <label for="password_conf">Password Confirmation</label>
      <input type="password" class="form-control" name="password_conf" ng-required="true" >

      <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
  </form>

  <router-outlet></router-outlet>
</div>