<div class="container">
  <h1>Sign Up for CMS Factory</h1>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" ng-required="true" ng-focus="true">
      
      <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" ng-required="true" >
      
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="user.username" ng-required="true" >
      
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="user.email" ng-required="true" >

      <label for="username">Password</label>
      <input type="text" class="form-control" id="password" [(ngModel)]="user.password" ng-required="true" >

      <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
  </form>

  <router-outlet></router-outlet>
</div>